/* Load Peace Sans locally */
@font-face {
    font-family: 'Peace Sans';
    src: url('./fonts/PeaceSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Questrial';
  src: url('./fonts/Questrial-Regular.ttf') format('truetype');
}

.App {
    text-align: center;
    font-family: 'Questrial'; /* Set default font to Questrial */
}

.header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.section-inner {
    margin: 0 auto;
    max-width: var(--eksell-inner-width-max);
    width: calc(100% - var(--eksell-inner-gutter));
    display: flex;
    justify-content: space-between;
    position: relative;
}

.section-inner.max-percentage {
    width: 100%;
}
.section-inner.no-margin {
    margin: 0;
}

.header-titles {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -1.2rem 0 0 -2.4rem;
    align-items: center;
    flex-wrap: nowrap;
}

.section-inner {
    margin: 0 auto;
    max-width: var(--eksell-inner-width-max);
    width: calc(100% - var(--eksell-inner-gutter));
}

/* Reset default margin and padding for better alignment */
body, h2, p {
    margin: 0;
    padding: 0;
}

/* Set a background color for the page */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    background: #fff; /* Default background color */
    font-family: 'Questrial';
}

/* Bubble common styling */
.bubble {
    position: absolute;
    bottom: -150px;  /* Start below the screen */
    right: -150px;
    border-radius: 50%;
    opacity: 0.7;
    z-index: -1;  /* Behind the container */
    animation: bubbleMove 15s infinite linear;
}

/* Animation for bubbles */
@keyframes bubbleMove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50vw, -120vh);
    }
}

/* Bubble colors */
.bubble-yellow {
    background-color: #f7cd45;
}

.bubble-light-yellow {
    background-color: #fae070;
}

.bubble-orange {
    background-color: #e5ad17;
}

.container {
    position: relative;
    z-index: 1;  /* In front of the bubbles */
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    min-height: 80vh;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 0 20px 0 20px;
  max-height: 80vh;
  width: 45%;
  padding: 10px;
}

.current-event {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  min-height: 20vh; 
  flex-shrink: 0; /* Prevent shrinking */

}

.left-info-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 50px;
  background-color: #fae070;
  max-height: 86vh;
  padding: 10px;
}

.opening-hours-container, .qr-code-container, .video-container {
    padding: 10px;
}

.qr-code-container {
    display: flex;
    flex-direction: column;
}

.qr-code {
  width: 75%;
  height: auto;
  margin: 5px 0 5px 0;
}

.events {
    max-height: 86vh;
    overflow-y: auto;
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Adjustments for better appearance */
.events-container {
    max-height: 100%;
    overflow-y: auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 20px;
}

.events-container::-webkit-scrollbar {
    display: none;
}

/* Style individual future events */
.event {
  padding: 10px;
  flex: 0 0 auto;
  margin-bottom: 20px;
  font-family: 'Questrial';
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  border-radius: 20px;  /* Increased rounding */
  background-color: white;
}

/* Style the event details within each event */
.event p {
    margin: 5px 0;
}

/* Style different background colors for each event */

.bg-color1 {
  background-color: #e5ad17;
  border-radius: 20px;
}

.bg-color2 {
  background-color: #f7cd45;
  border-radius: 20px;
}

@keyframes scrollEvents {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* Style headings and event details */
h2 {
    font-family: 'Peace Sans';
    font-size: 30px;
    margin-bottom: 10px;
}

strong {
    font-family: 'Peace Sans';
    font-size: 20px;
    color: #353573;
}

.site-logo {
    margin: 1.0rem 0 0 2.4rem;
}

.site-title {
    font-family: 'Peace Sans';
    font-size: 2.0rem;
    font-weight: bold;
}

.site-title a {
    color: inherit;
    display: block;
    outline: none;
    text-decoration: none;
}

.site-title a:hover,
.site-title a:focus {
    text-decoration: underline;
}

/* Block: Site Title ------------------------- */

.wp-block-site-title a {
    text-decoration: none;
}

.wp-block-site-title a:hover,
.wp-block-site-title a:focus {
    text-decoration: underline;
}

.site-logo a,
.site-logo img {
    display: block;
}

.site-logo img {
    max-height: 5.8rem;
    width: auto;
}

.site-description {
    line-height: 1.25;
    font-size: large;
    display: block;
    margin-left: 20px;
    font-family: 'Questrial';
}

.color-secondary { 
    color: gray;
}
.border-color-secondary { border-color: var(--eksell-secondary-color); }

.site-logo img.logo-dark-mode {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .has-dark-mode-palette .site-logo img.logo-regular:not(:only-child) { display: none; }
    .has-dark-mode-palette .site-logo img.logo-dark-mode { display: block; }
}

.site-logo img {
    max-height: 7.2rem;
}

.wp-custom-logo .header-titles {
    align-items: center;
    flex-wrap: nowrap;
}

.screen-reader-text {
    clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
    height: 0.1rem;
    overflow: hidden;
    position: absolute !important;
    left: -999999rem;
    width: 0.1rem;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
    clip: auto !important;
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    height: auto;
    left: 0.5rem;
    line-height: normal;
    padding: 1.5rem 2.3rem 1.4rem 2.3rem;
    text-decoration: none;
    top: 0.5rem;
    width: auto;
    z-index: 100000;
}

/*Responsive TV*/
  #monitor {
      background: #000; 
      position: relative;
      border-top: 3px solid #888; 
      padding: 2% 2% 4% 2%; 
      border-radius: 10px; 
      border-bottom-left-radius: 50% 2%; 
      border-bottom-right-radius: 50% 2%; 
      transition: margin-right 1s;
  }
  
  #monitor:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 3%;
      left: 36%;
      height: .5%; 
      width: 28%;
      background: #ddd; 
      border-radius: 50%; 
      box-shadow: 0 0 3px 0 white; 
  }
  
  #monitorscreen {
      position: relative;
    background-color: #777;
      background-size: cover; 
      background-position: top center;
      height: 0; 
      padding-bottom: 56.25%; 
      position: relative;
      overflow: hidden;
  }
  
  @media all and (min-width: 960px) {
      #monitor {
          -webkit-animation: tvflicker .2s infinite alternate; 
          -moz-animation:    tvflicker .5s infinite alternate; 
          -o-animation:      tvflicker .5s infinite alternate; 
          animation:         tvflicker .5s infinite alternate; 
      }
  
      @-webkit-keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(200,235,255,0.4); }
        100% { box-shadow: 0 0 95px 0 rgba(200,230,255,0.45); }
      }
      @-moz-keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
        100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
      }
      @-o-keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
        100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
      }
      @keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
        100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
      }
  }

  video {
    width: 100%;
}
